@model IEnumerable<UgraTestPoll.ViewModels.TestsListElementViewModel>

@{
    ViewBag.Title = "Tests";
}

<h2>Tests</h2>
@if (Model.Count() == 0)
{
    <p>The user still has not passed any test</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "TestResults", new { id = item.ID, userId = item.UserID })
            </td>
        </tr>
    }

</table>
