@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Tests</h2>
        <p>
            Here you can take a few pre-prepared test. Passing the test is only possible for registered users.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Test")">Tests &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <p>Here you can see the results of passing the tests for all users.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Result")">Results &raquo;</a></p>
    </div>
</div>