@model UgraTestPoll.ViewModels.PassedQuestionViewModel

<tr>
    <td>
        @Html.DisplayFor(x => x.Number)
        @Html.DisplayFor(x => x.QuestionText)
    </td>
</tr>
<tr>
    <td>
        Selected answers :
        <ul>
            @foreach (var answer in Model.SelectedAnswers)
            {
                <li>
                    @Html.DisplayFor(x => answer)
                </li>
            }
        </ul>
    </td>
</tr>
<tr>
    <td>
        Correct answers :
        <ul>

            @foreach (var correctAnswer in Model.CorrectAnswers)
            {
                <li>
                    @Html.DisplayFor(x => correctAnswer)
                </li>

            }
        </ul>
    </td>
</tr>