<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ugratestpoll.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ugratestpoll.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UgraTestPoll</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UgraTestPoll</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TestPollConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ugratestpolldb.database.windows.net,1433;Initial Catalog=UgraTestPoll_db;User ID=NamelessOne@ugratestpolldb;Password=Wer787364;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ugratestpolldb.database.windows.net,1433;Database=UgraTestPoll_db;User ID=NamelessOne@ugratestpolldb;Password=Wer787364;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UgraTestPoll.DataAccessLevel.PollContext, UgraTestPoll" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestPollConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ugratestpolldb.database.windows.net,1433;Database=UgraTestPoll_db;User ID=NamelessOne@ugratestpolldb;Password=Wer787364;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TestPollConnection" />
  </ItemGroup>
</Project>